name: Publish Release Builds
on:
  release:
    types: [created]

jobs:
  build-dists:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - run: python -m pip install build

      - name: build client dists
        run: |
          cd client
          python -m build .

      - name: upload client builds
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: client-builds
          path: client/dist/*

      - name: build daemon dists
        run: |
          cd daemon
          python -m build .

      - name: upload daemon builds
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: daemon-builds
          path: daemon/dist/*

  publish:
    needs: [build-dists]
    runs-on: ubuntu-latest
    steps:
      - name: download client builds
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: client-builds
          path: client-dist

      - name: download daemon builds
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: daemon-builds
          path: daemon-dist

      # upload as release assets
      - name: Upload Builds
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release upload "${{ github.ref_name }}" client-dist/* daemon-dist/*
