name: Publish Release Builds
on:
  release:
    types: [created]

jobs:
  build-dists:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"

      - run: python -m pip install build

      - name: build client dists
        run: |
          cd client
          python -m build .

      - name: upload client builds
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: client-builds
          path: client/dist/*

      - name: build daemon dists
        run: |
          cd daemon
          python -m build .

      - name: upload daemon builds
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: daemon-builds
          path: daemon/dist/*

  publish:
    needs: [build-dists]
    runs-on: ubuntu-latest
    steps:
      - name: download client builds
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: client-builds
          path: client-dist

      - name: download daemon builds
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: daemon-builds
          path: daemon-dist

      # upload as release assets
      - name: Upload Builds
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release upload "${{ github.ref_name }}" client-dist/* daemon-dist/*
